.searchBlock {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
    margin-bottom: 30px;
}

.input {
    max-width: 250px;
}

.rangeGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rangeGroup h5 {
    margin-bottom: -10px;
}

.range {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}